    макет для устройств со средним экраном

<div id = "lol">


<% @products.each do |p| %>
    <div class="row">
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     
    <img class = "photo" src= "<%= p.url_image %>", alt = 'no image' width="242" height="200"/>
   
      <img src="..." alt="картинка 242x200">
      <div class="caption">
        <h3>Название часов<a class = "price"><%=number_to_currency(p.price, :unit => "P")%></p></h3>
        <p>......описание</p>
                <p  class="btn btn-default" role="button">Узнать <%= link_to "", product_path(p) %></p> 
        <p  class="btn btn-default" role="button">Узнать <%= link_to "", product_path(p) %></p> 
      </div>
    </div>
  </div>

     <% end %>
     </div>